<h2 class="ui center aligned large header">
  <em>チャットアプリの世界へようこそ!</em>
</h2>

<h4 class="ui center aligned medium icon header">
  <i class="orange user circle icon"></i>
   楽しくチャットしよう！</br>
   <% unless logged_in? %>
     <div class="ui buttons">
       <%= link_to "登録", signup_path, class: "ui inverted green button" %>
       <div class="or"></div>
       <%= link_to "ログイン", login_path, class: "ui inverted primary button" %>
     </div>  
  <% end %>
</h4>


<div class="ui placeholder segment">
  <h3 class="ui center aligned large header">
  <em>たくさんのチャット仲間がいます！</em>
</h3>
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui relaxed divided list">
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/田中</div>
            <div class="description">ChatMessage:おはようございます！</div>
          </div>
        </div>
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/鈴木</div>
            <div class="description">ChatMessage:こんにちは！ </div>
          </div>
        </div>
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/佐藤</div>
            <div class="description">ChatMessage:こんばんは！</div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui relaxed divided list">
       <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/Jacob</div>
            <div class="description">ChatMessage:Good morning</div>
          </div>
       </div>
      <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/Noah</div>
            <div class="description">ChatMessage:Hello</div>
          </div>
       </div>
       <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/Lucas</div>
            <div class="description">ChatMessage:Good evening</div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>