@import 'semantic-ui';

.chatbox {
  height: 400px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.top-main {
    padding: 200px  100px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}
  
