<%= link_to "チャットルーム", root_path, class: "item" %>
<a class="item">
  メッセージ
</a>
<div class="right menu">
  <div class="ui dropdown item">
    アカウント <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "ログイン", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
  <% if !logged_in? %>
    <div class="item">
      <%= link_to "ログイン", login_path, class: "ui primary button" %>
    </div>
  <% end %>
</div>